<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolsa Technologies.home</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
    <div class="container">

        <header>
            <nav>
                <!--Navigation bar div button establishments for CSS-->
                <div class="HomeNavButton">
                    <a href="/templates/index.html">home</a></div>
                    <!--img src="/static/Images/house_icon.jpg" alt="Home Icon"-->

                <div class="BookingsNavButton">
                        <a href="/templates/Bookings1.html">Bookings</a></div>

                <div class="EducationResourcesnNavButton">
                        <a href="EducationalResources.html">Educational Resources</a></div>

                <div class="CarbFootprintNavButton">
                        <a href="CarbFootprint.html">Carbon Footprint calculator</a></div>

                <div class="EnergyTrackerNavButton">
                        <a href="EnergyTracker.html">Energy usage tracker</a></div>
                                

                <!--Sign-up/Log-in & User profile navigation bar buttons for CSS-->
                <div class="Log-in-Sign-upNavButton">
                        <a href="#"></a></div>
                <div class="UserProfileNavButton">
                        <a href="#"></a></div>
                                    
            </nav>


            <div class="accent1"></div>
            <div class="accent2"></div>
        </header>

        <main>
            <!--Home Page Business Title Box-->
            <div class="RolsaTechTitle">
                <p class="RolsaP1">Rolsa Technologies</p>
            </div>

            <!--Home Page Grey text box-->
            <div class="MainTextBox">
                <p class="TextBoxP1">
                    Ready to start your green energy adventure? Then you've come to the correct place of business! Rolsa Technologies promises to deliver high quality products and service installations directly to your front-door so you can live a cleaner, more eco-friendly life
                </p>
            </div>

            <!--ImageCarousel-->
            <div class="ImageBox"></div>

        </main>
    
        <footer>
            <div class="accent3">

            </div>
            <div class="accent4">

            </div>
        </footer>
    </div>
</body>




</html>